

/* Start Global Color  */

:root{
    --font-color : #6f7175;
    --hover-color : #e4e6eb;
}

.txt-bold{
    font-weight: bold;
}

@media(max-width:550px){

    .hide-mobile{
        display: none !important;
    }
}



/* End Global Color  */


/* Start NavBar */

nav {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #ffffff;
padding: 5px 17px;

max-width: 100%;
position: sticky;
top: 0;
z-index: 100;
}

.search{
    display: flex;
    align-items: center;
    width: 330px;
}

.search .bar{
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    padding: 10px;
    border-radius: 24px;
    width: 280px;
    color: #6d6f73;
    margin-left: 8px;
}

@media(max-width:550px){
    .search .bar{
        width: 43px;
    }
}

.search .bar input{
    padding: 2px 5px;
    background: none;
    width: 200px;
    border: none;
    color: black;
    font-size: 14px;
    transition: .3s;
    font-weight: thin;
}

.search .bar input:focus{
    outline: none;
    color: black;
    width: 300px;
}


nav .icons{
    display: flex;
    height: 44px;
    margin-right: 100px;
}

nav .icons .item{
    height: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 110px;
}

nav .icons .item a{
    text-decoration: none;
    color: #686a6d;
    /* background-color: red; */
    width: 100px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 6px;
    transition: .4s;
}
nav .icons .item a:hover{
    background-color: #f0f2f5 ;

}

nav .icons .item a span{
    font-size: 28px;
}

nav .icons .active {
    color: #1b74e4 !important ;
    position: relative;

}
nav .icons  .active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1b74e4;
    bottom: -5px;
    right: 0;
}


.search .iconF img{
    width: 40px;
    height: 40px;
}

@media(max-width :500px){
    .search .iconF img{
        width: 35px;
        height: 35px;
    }
}



nav .not{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .not .links-nav{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e6eb;
    text-decoration: none;
    color: black ; 
    font-size: 18px;
    position: relative;
    margin-left: 10px;
    transition: .2s;
    cursor: pointer;
}

nav .not .links-nav .num-of-mess{
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #E41E3F;
    top: 0;
    font-weight: 500;
    right: -4px;
    text-align: center;
    font-size: 12px;
    color: white;
}

nav .not .links-nav:hover{
    background-color: #cbcccf;
}







nav .not .links-nav img{
width: 40px;
height: 40px;
border-radius: 50%;
position: relative;
}

nav .not .statu{
    position: relative;
}

nav .not .statu::after{
    content: '';
    position: absolute;
    background-color:#E41E3F;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    right: 0;
}

/* End NavBar */



/* Start All Chat Component  */

.all-chat{
    z-index: 1000;
    position: absolute;
    right: 40px;
    top: 60px;
    z-index: 1000;
    width: 335px;
    height:600px;
    padding: 8px 10px;
    background-color: white;
    overflow-y: scroll;
    cursor:initial;
    overflow-x: hidden;
    border-radius: 6px;
    border: 1px solid #EEE;
}

.all-chat::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.all-chat .all-chat-head{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.all-chat .all-chat-head .icons-chat{
    display: flex; 
    align-items: center;
}

.all-chat .all-chat-head .icons-chat img{
    width: 25px;
    height: 25px;
    position: relative;
    margin:0 auto;
}



.all-chat .all-chat-head .icons-chat span{
    font-size: 15px;
    margin:0 auto ;

}

.all-chat .all-chat-head .icons-chat div{
    padding: 1px;
    border-radius: 50%;
    padding: 2px;
    transition: .3s;
    text-align: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.all-chat .searchbar{
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    padding: 8px 12px;
    border-radius: 25px;
    margin-top: 15px;
}

.all-chat .searchbar input{
    border: none;
    background-color: transparent;
    width: 90%;
    padding-left: 5px;
}

.all-chat .searchbar input:focus{
    outline: none;
}

.all-chat .all-chat-head .icons-chat div:hover{
    background-color:var(--hover-color);

}

.all-chat .all-chat-head h4{
    font-size: 24px ;
    font-weight: bold;
}


.all-chat .type-message {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.all-chat .type-message p{
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 24px;
    cursor: pointer;
    transition: .3s;
}




.all-chat .type-message p:first-child{
    color:#0075FF ;
    padding: 6px 12px;
    border-radius: 24px;
    background-color: #ebf5ff;
}

.all-chat .type-message p:hover{
    background-color: #f0f2f5;

}

/* End All Chat Component  */


/* Start Chat Component */

.chat-nav{
    display: flex;
    align-items: center;
    padding: 4px 7px; 
    cursor: pointer;
    transition: .3s;
    border-radius: 6px;
}

.chat-nav:hover{
    background-color:#f0f2f5 ;
}

.chat-nav .prof {
    margin-right: 10px;
}

.chat-nav .prof img{
    width:55px !important;
    height: 55px !important;
    object-fit: cover;
    border-radius: 50%;
}

.chat-nav .info .title{
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 15px;
}



.chat-nav .info .last-message {
    color: red;
    font-size: 13px;
}

.chat-nav .info .last-message .n-message{
    color: black;
    font-weight: 500;
    display: inline;
}

.chat-nav .info .last-message .time{
    color: #6f7175;
    margin-left: 2px;
}

/* End Chat Component */



/* Start Notification  */

.all-not
{
    width: 335px;
    background-color: white;
    height: 600px;
    overflow-y: scroll;
    position: absolute;
    right: 40px;
    top: 60px;
    z-index: 1000;
    padding: 8px 8px 8px 14px;
    border-radius: 8px;
}
.all-not::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.all-not .all-chat-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.all-not .all-chat-head .dot-icon span{
    font-size: 23px;
    font-weight: bold;
}
.all-not .all-chat-head .dot-icon{
    padding: 3px 4px;
    transition: .3s;
    border-radius: 50%;
    cursor: pointer;

}


.all-not .all-chat-head .dot-icon:hover{
background-color: var(--hover-background);
}

.all-not .all-chat-head h3{
    font-size: 25px;

}


.all-not .type-not button{
    background: none;
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;

}

.all-not .type-not button:hover{
    background-color: var(--hover-color);
}

.all-not .type-not .active-not{
    margin-right: 4px;
    color:#1b74e4;
    text-decoration: none;
    background-color: #EBF5FF;
    font-weight: bold;
    
}

.all-not .titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.all-not .titles p {
    font-size: 18px;
    font-weight: 500;
}

.all-not .titles a{
    color: #1b74e4;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    padding: 6px 10px;
    transition: .3s;
}

.all-not .titles a:hover{
    background-color: var(--hover-color);
    border-radius: 3px;
}

.all-not .card{
    display: flex;
    align-items: center;
    margin: 8px 0px;
    transition: .3s;
    padding: 5px ;
    border-radius: 10px;
    cursor: pointer;
}

.all-not .card:hover{
    background-color: #f2f2f2;
}

.all-not .card .image{
    position: relative;
    width: 90px;
}

.all-not .card .image .small-img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 0;
}

.all-not .card .profile-image{
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}
 
.all-not .card .des{
    color: #4b4b4b;
}
.all-not .card .des .title-pro{
    font-weight: 600;
    color: #050505;
    display: inline;
}

.all-not .card .details .date{
    color: #0a67ff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

/* End Notification  */


/* Start Post Component */

.post-component{
    width: 550px;
    background-color: white;
    margin: 10px auto;
    border-radius: 7px;
    max-width: 100%;
    border: 1px solid #EEE;
    position: relative;
}

.post-component .post-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 13px;
}

.post-component .post-head .owner{
    display: flex;
    align-items: center;
}

.post-component .post-head .owner .titles{
    margin-left: 7px;
}

.post-component .post-head .owner .titles h3{
    font-size: 14px;
    font-weight: 500;
}

.post-component .post-head .owner .titles h3 a{
    text-decoration: none;
    color: black;
}

.post-component .post-head .owner .titles h3 a:hover{
    text-decoration:underline;
}

.post-component .post-head .owner .titles h3:hover .post-modal{
    display: block;
}

.post-component .post-head .owner .titles .date{
    font-size: 13px;
    color: var(--font-color);
    margin-top: 3px;
    display: flex;
    align-items: center;
}
.post-component .post-head .owner .titles .date img {
    width: 13px;
    height: 13px;
    margin-left: 4px;
    display: block;
    margin-bottom: -5px;
}

.post-component  .share-icon {
    width: 20px; 
    height: 20px;
    filter: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
    margin-right: 5px;
}

.post-component .post-head .owner img{
    width: 45px;
    cursor: pointer;
    height:45px ; 
    border-radius: 50%;
object-fit: cover;
}

.post-component .post-head .options span  {
    color: var(--font-color);
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
}

.post-component .post-head .options{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    transition: .3s;
    justify-content: center;
    align-items: center;
}

.post-component .post-head .options:hover{
    background-color: var(--hover-color);

}

.post-component .post-caption{
    padding: 3px 13px 6px;
    font-size: .9375rem;
}

.post-component .post-image img{
    /* width: 550px; */
    width: 100%;
    
}

.post-component .reacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
}

.post-component .reacts .react{
    display: flex;
    align-items: center;
    color: var(--font-color);

}

.post-component .reacts .react .num{
    transition: .2s;
    cursor: pointer;
    padding-bottom: 4px;
}

.post-component .reacts .react .num:hover {
    text-decoration: underline;
}

.post-component .reacts .num{
    transition: .2s;
    cursor: pointer;
}

.post-component .reacts .num:hover{
    text-decoration: underline;
}

.post-component .reacts .react .icons{
    /* width: 35px; */
    cursor: pointer;
}

.post-component .reacts .react img{
    width: 25px;
    border-radius: 50%;
    height: 25px;
    border: 3px solid white;

    
}

.post-component .reacts .react img:last-child{
    margin-left: -11px;
    z-index: 8;
}


.post-component .reacts .share{
    display: flex;
    align-items: center;
}

.post-component .reacts .share .comment{
    color: var(--font-color);
    margin-right: 11px;
}

.post-component .reaction
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    border-top: 1px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
    /* margin-bottom: 30px; */
}

.post-component .reaction .opt{
    color: var(--font-color);
    padding: 10px 26px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .3s;
    /* background-color: var(--hover-color); */
}

@media(max-width:550px){
    .post-component .reaction .opt{
        padding: 10px 0px;
    }
}

.post-component .reaction .opt:first-child:hover .like-option{
    display: block;
}

.post-component .reaction .opt .like-option{
    position: absolute;
    width: 300px;
    height: 54px;
    border-radius: 23px;
    top: -130%;
    background-color: white;
    display: none;
    left: 0;
    z-index: 10;
    box-shadow: 1px 1px 2px 2px var(--hover-color);
}

.post-component .reaction .opt .like-option img{
    width: 50px;
    height: 50px;
    transition: .3s;
}

.post-component .reaction .opt .like-option img:hover{
    transform: scale(1.2);
}

.post-component .reaction .opt:hover{
    background-color: var(--hover-color);
}

.post-component .reaction .opt i{
    margin-right: 7px;
    font-size: 18px;
}

.post-component .reaction .opt span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-component .reaction .opt span img{
    width: 28px;
    height: 28px;
    margin-right: 3px;
}

.post-component .reaction .opt span.like{
color: #0866FF;
}

.post-component .reaction .opt span.love{
    color: #F33E58;
}

.post-component .reaction .opt span.wow{
    color: #F7B125;
}

.post-component .reaction .opt span.sad{
    color: #F7B125;
}

.post-component .reaction .opt span.care{
    color: #F7B125;
}

.post-component .reaction .opt span.angry{
    color: #E9710F;
}


.opt .fa-comment{
    transform:scaleX(-1);
}

.post-component .post-modal{
    position: absolute;
    width: 390px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px  1px #EEE;
    top: 30px;
    left: 10px;
    max-width: 100%;
    padding: 20px;
    display: none;
}

@media(max-width:550px){
    .post-component .post-modal{
        height: 222px;
    }
}

.post-component .show-modal{
    display: none;
}

.post-component .post-modal .head{
    display: flex;

}

.post-component .post-modal .head .row{
    display: flex;
    margin-top: 13px;
    font-size: 15px;
    
}

.post-component .post-modal .head .row .boldy{
    font-weight: bold;
    cursor: pointer;
}

.post-component .post-modal .head h4{
    font-size: 17px;
    margin-bottom: 20px;
    cursor: pointer;
}

.post-component .post-modal .head .row .boldy:hover{
    text-decoration: underline;
}

.post-component .post-modal .head .row i{
    margin-right: 15px;
    color: var(--font-color);
}

.post-component .post-modal .image{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.post-component .post-modal .image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.post-component .post-modal .option-modal{
    display: flex;
    margin-top: 16px;
}

.post-component .post-modal .option-modal button{
    border: none;
    border-radius: 6px;
    color: black;
    font-weight: 500;
    padding: 9px 31px;
    margin-right: 13px;
    cursor: pointer;
}

@media(max-width:550px){
    .post-component .post-modal .option-modal button{
        padding: 7px 25px;
    }
}

.post-component .post-modal .option-modal button.act{
    background-color: #0075FF;
    color: white;
}

/* End Post Component */