/* Start Global For home */

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5;
    padding: 17px 8px 0px;
}

aside{
    width: 23%;
    height: calc(100vh - (54px + 34px));
}

/* End Global For home */



/* Start For Aside  */

aside{
    /* height: 700px; */
    overflow-y: scroll;
    height: calc(100vh - (54px + 17px));

}

aside .tools .item{
    margin-bottom: 4px;
}
aside .tools .item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 6px 13px; 
    border-radius: 10px;
    font-weight: 500;
    font-size: 4;
    transition: .4s;
}

aside .tools .item a p{
    font-size: 15px;
}

aside .tools .item a:hover{
    background-color: #e4e6e9;
}

aside .tools .item a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

aside .tools .item .arrup{
    width: 35px;
    height: 35px;
    background-color: #e4e6eb;
    border-radius: 50%;
    display: flex ; 
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.shortcut .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    border-top: 1px solid #dee0e4;
    padding-top: 10px;
    margin-top: 17px;
}

.shortcut .title h2{
    font-size: 17px;
    color: #66686c; 
    font-weight: 600;

}

.shortcut .title .btn-edite{
    background-color: none;
    color: #2680ef;
    border: none;
    padding:10px 4px ;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .2s;
    opacity: 0;
}

.shortcut:hover  .btn-edite{
opacity: 1;
}

.shortcut .title .btn-edite:hover{
background-color:  #e4e6e9;
}

aside .foot{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

aside .foot a ,
aside .foot .copy{

    text-decoration: none;
    color: #7a7c80;
    font-size: 13px;
    margin-right: 5px;
}

.shortcut .foot .copy{
    font-size: 13px !important;
    color: #7a7c80 !important;
}
/* End For Aside  */



/* Start Main Content  */

.main-content{
    width:600px;
    height: 90vh;
    overflow-y: scroll;
}

.main-content::-webkit-scrollbar {
    width: 8px;
  }

  .main-content::-webkit-scrollbar-thumb {
    background: transparent;
    transition: .3s;
  }

.main-content .story{
background-color: white;
border-radius: 10px;    
width: 100%;
height: 300px;

}

.main-content .story .type{
    display: flex;
    justify-content: space-between;
    padding: 4px 8px ;
    border-bottom: 1px solid #EEE;
}

.main-content .story .type button{
    width: 49%;
    background-color: transparent;
    border-radius: 10px;
    color: #65676b;
    padding: 15px 0px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    align-items: center;
    transition: .4s;
}

.main-content .story .type button:hover
{
    background-color: var(--hover-color);
}

.active{
    color: #1b74e4 !important;
    position: relative;

}

.active::after{
    content: '' ;
    position: absolute;
    width: 100%;
    height: 3px ;
    background-color: #1b74e4;
    top: 101%;
    right: 0;
}

.active:hover{
    background-color: transparent !important;
}

.story .default-card{
    width: 130px;
    height: 220px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #EEE;
    overflow: hidden;
    margin-right: 10px;
    
}
.story{
    padding: 0 10px;
}


.story .default-card .image{
    position: relative;
    
}


.story .default-card .image .x-icon{
    position: absolute;
    background-color: #1b74e4;
    width: 40px;
    height: 40px;
    font-weight: 100;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 500;
    transform: translateX(50%);
    bottom: -16px;
    right: 50% ; 

    font-size: 21px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.story .default-card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: .4s;
}

.story .default-card:hover img{
    transform: scale(1.02);
    opacity: .9;
}

.story .default-card .text{
    margin-top:20px ;
    text-align: center;
    font-size:13px;
    font-weight: 600;
}


.stories {
    display: flex;
    align-items: center;
    overflow-x: auto;
}


.stories .card{
    width: 130px;
    height: 220px;
    margin-right: 10px;
    cursor: pointer;

    /* overflow: hidden; */
}
 
.stories .card  img {
    width: 130px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: .4s;

}

.stories .card:hover .over 

{
    background-color: rgba(0 0 0 / .3) ; 
}



  .image {
    position: relative !important;
    width: 100%;

}

.story .over{
    position: absolute ;
    width: 100% ;
    height: 100% ;
    top: 0 ;
    left: 0;
    background-color: rgba(0 0 0 / .2) ; 
    border-radius: 10px;
    transition: .4s;
}
 .story .story-name{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 11px;
    color: white;
 }

 .story .story-profile{
    position: absolute;
    display: block;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    border: 4px solid #1b74e4;
    left: 10px;
    top: 10px;
    
 }



    /* Start Sponser  */
    .sponser{
        overflow-y: scroll;
        height: calc(100vh - (54px + 17px));
    }
    .sponser .own-page{
        padding: 0px 10px 10px 10px;
    }
    .sponser .own-page a{
        margin-top: 10px;
        display: flex;
        text-decoration: none;
        align-items: center;
    }
    .sponser .own-page h4{
        color: var(--font-color);
        font-size: 17px;
    }
    .sponser .own-page  a img{
        width: 30px;
        height: 30px;
    }
    .sponser .own-page a p{
        color: black;
        text-decoration: none;
        font-weight: bold;
        padding-left: 5px;
    }

    .sponser .util{
        display: flex;
        align-items: center;
        color: var(--font-color);
        margin-top: 10px;
        padding-left: 12px;
        font-size: 14px;
        cursor: pointer;
    }
    .sponser .util img{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .sponser .own-page{
        border-bottom: 1px solid #aeafb1;
    }

    .sponser .brithday{
        padding: 15px 10px;
        border-bottom: 1px solid #aeafb1;
    }
    .sponser .brithday h4{
        color: var(--font-color);
        font-weight: bold;
        margin-bottom: 12px;
    }
    .sponser .brithday a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 14px;
        padding: 4px;
        transition: .3s;
        border-radius: 6px;
    }
    .sponser .brithday a:hover{
        background-color: #e4e6e9;
    }


    .sponser .brithday a img{
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }





    .sponser .online{
        /* height: 400px;
        overflow-y: scroll; */
    }
    .sponser .online .online-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        color: var(--font-color);
        font-weight: bold;
    }
    .sponser .online .online-head span{
        transition: .3s;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        padding: 2px;
    }

    .sponser .online .online-head span:hover{
        background-color: #c4c6ca;
    }

    .sponser .online .online-head span:first-child{
        margin-right: 20px;
    }

    .sponser .online .online-item{
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 4px;
        /* transition: .3s; */
        border-radius: 6px;
        cursor: pointer;
        max-width: 100%;
        padding: 4px 8px;
        font-weight: 500;
        font-size: 14px;
    }

    .sponser .online .online-item:hover{
        background-color: #d8dbe0;

    }
    .sponser .online .online-item img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: relative;
        /* margin-right: 17px; */
        object-fit: cover;
        
    }

    .sponser .online .online-item .online-image {
        margin-right: 13px;
        position: relative;
    }
    .sponser .online .online-item .online-image .online{
        position: absolute ; 
        width: 10px;
        height: 10px;
        border-radius: 50%;
        bottom: 3px;
        right: 0px;
        z-index: 5;
        border: 2px solid #f0f2f5;
        background-color: #5cc34c;
        
    }

    .sponser .online .online-item img::after{
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius:50% ;
        background-color: #31a24c;
        top: 40px;
        right: 10px;
        z-index: 100;
    }

    

    /* End Sponser  */



    /* Start Wite Post  */

    .write-post{
        width: 550px;
        max-width: 100%;
        background-color: white;
        margin: 20px auto;
        padding: 14px 17px 10px;
        border-radius: 10px;
        /* box-shadow: 1px 0px 1px  var(--hover-color); */
        border: 1px solid var(--hover-color);
    }

    .write-post .write-body{
        display: flex;
        align-items: center;
    }

    .write-post .write-body a{
        margin-right: 11px;
    }
    .write-post .write-body a img{
        width: 43px;
        height: 43px;
        border-radius: 50%;
    }

    .write-post .write-body div input{
        border: none;
        background-color:#f0f2f5;
        width: 409px;
        border-radius: 24px;
        padding: 13px 11px;
        max-width: 100%;
    }

    .write-post .write-body div input::placeholder{
        color: var(--font-color);
        font-weight:500;
        font-size: 15px;
    }

    .write-post .write-body div input:focus{
        outline: none;
    }

    .write-post .write-option{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 14px;
        border-top: 1px solid var(--hover-color);
    }

    .write-post .write-option .card{
        display: flex;
        justify-content: center;
        align-items: center;
        color:#9d9fa4;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;
        font-size: 14px;
        transition: .3s;
        padding: 7px 14px;
        border-radius: 6px;
    }

    .write-post .write-option .card:hover{
        background-color: var(--hover-color);
    }

    .write-post .write-option .card img{
        width: 30px;
        height: 30px;
        margin-right: 4px;
    }

    /* End Write Post */






/* End Main Content  */