/* Start Global For home */

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5;
    padding: 17px 8px;
}

aside{
    width: 23%;
    height: 100%;
}

/* End Global For home */



/* Start For Aside  */

aside .tools .item{
    margin-bottom: 4px;
}
aside .tools .item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 6px 13px; 
    border-radius: 10px;
    font-weight: 500;
    font-size: 4;
    transition: .4s;
}

aside .tools .item a p{
    font-size: 15px;
}

aside .tools .item a:hover{
    background-color: #e4e6e9;
}

aside .tools .item a img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}

/* End For Aside  */