

/* Start Glball CSS*/

:root{
  --main-background:#f0f2f5;
  --font-color :#9ea0a2;
  --blue-color :#1b74e4;
  --hover-color :#e4e6e9;
}


/* End Global CSS */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-backgroundcolor) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
}

body{
  background-color: var(--main-background);
}